{%- from "components/component/component.njk" import c -%}
{% extends "layout.njk" %}

{% block inner %}

    {{ c('header', {
        title: title,
        event: event,
        isHome: true,
        navigation: navigation.header,
        currentUrl: page.url
    }) }}

    {{ c('hands', {
        event: event,
        intro: intro,
        intro2: intro2
    }) }}

    <main class="o-wrap o-wrap--home">
        {%- for p in collections.home | orderByOrder -%}
            {% if p.data.enabled %}
                {{ c(p.data.component, (p | combine("speakers", collections.speakers | orderByOrder)) | combine("faqs", collections.faqs | orderBySlug) ) }}
            {% endif %}
        {%- endfor -%}
    </main>

    {{ c('footer', { navigation: navigation.footer, event: event, isHome: true }) }}

{% endblock %}
