{%- from "components/component/component.njk" import c -%}
{% extends "layout.njk" %}

{% block inner %}

    {{ c('header', {
        title: title,
        event: event,
        intro: intro,
        withHeaderHands: true,
        navigation: navigation.header,
        currentUrl: page.url
    }) }}

    <main class="o-wrap o-wrap--home">
        {%- for p in collections.home | orderByOrder -%}
          {{ c(p.data.component, p) }}
        {%- endfor -%}
    </main>

    {{ c('footer', { navigation: navigation.footer }) }}

{% endblock %}
