{%- from "components/component/component.njk" import c -%}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | safe }} | {{ subtitle | safe }}</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75..100,200..800&display=swap" rel="stylesheet">
    <meta name="theme-color" content="#4D8AD9">
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="o-page-wrapper">
      {% block inner %}{% endblock %}
    </div>
    {{ c('clouds') }}
  </body>
</html>
