{% extends "layout.njk" %}

{% block inner %}

    {{ c('header', { title: title, event: event }) }}

    <main class="o-wrap o-wrap--offset">
        {{ c('content', { content: content, afterContent: afterContent }) }}
    </main>

    {{ c('footer') }}

{% endblock %}