{% extends "layout.njk" %}

{% block inner %}

    {{ c('header', {
        title: title,
        event: event,
        intro: intro,
        withHeaderHands: withHeaderHands,
        navigation: navigation.header,
        currentUrl: page.url
    }) }}

    <main class="o-wrap o-wrap--{{ contentSize }}">
        {{ c('content', { content: content, beforeContent: beforeContent, afterContent: afterContent, style: contentStyle }) }}
    </main>

    {{ c('footer', { navigation: navigation.footer }) }}

{% endblock %}