---
contentSize: full
contentStyle: prose
---

{%- from "components/component/component.njk" import c -%}
{% extends "page.njk" %}

{% set afterContent %}
  {{ c('speakers', { speakers: collections.speakers | orderByOrder }) }}
{% endset %}
