<div class="c-hands">
  <div class="c-hands__wrapper">
    {{ c('hand-left') }}
    {{ c('hand-right') }}
  </div>

    <aside class="c-hands-cta o-wrap o-wrap--inline">
      {% if params.intro %}
        <div class="c-hands-cta__intro">
          <p>{{ params.intro }}</p>
          <p class="c-h">{{ params.intro2 }}</p>
        </div>
      {% endif %}
      {% if params.event.tickets.onSale %}
        <div data-floating>
          {{ c('button', params.event.tickets.buyCta) }}
        </div>
          <script>
              (() => {
                  const floatingWrapper = document.querySelector('[data-floating]');
                  const floatingButton = floatingWrapper.querySelector('.c-button');
                  if (!floatingWrapper || !floatingButton) return;

                  const scrollObserver = new IntersectionObserver(
                      ([entry]) => {
                          if (entry.isIntersecting) {
                              floatingButton.classList.add('is-floating');
                          } else if (window.scrollY < floatingWrapper.offsetTop) {
                              floatingButton.classList.remove('is-floating');
                          }
                      },
                      { threshold: 1, rootMargin: '0px 0px -24px 0px' }
                  );

                  scrollObserver.observe(floatingWrapper);

              })();
          </script>
      {% endif %}
    </aside>
</div>
