.c-footer {
  padding-block: var(--gutter-in) var(--space-30-120);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-20-40);
  padding-right: var(--gutter-in);
  font-size: var(--step--1);

  svg {
    flex-basis: var(--space-100-120); 

    height: var(--space-100-120);
    width: var(--space-100-120);
  }

  p {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 70%;
  }

  a {
    color: var(--berst);
    
    @media (hover: hover) {
      &:hover {
        text-decoration-thickness: 1px;
        text-decoration-line: underline;
        color: var(--white);
      }
    }
  }
}
