.c-content {
  padding: var(--gutter-in);
  background: var(--white);

  h1,
  h2 {
    font-weight: var(--font-weight-heading);
    letter-spacing: var(--letter-spacing-heading);
    font-size: var(--step-3);
    line-height: var(--line-height-heading);
  }

  h3,
  > p:first-of-type {
    font-weight: var(--font-weight-lede);
    font-size: var(--step-2);
    line-height: var(--line-height-lede);
  }

  p:not(:first-of-type) + p {
    --flow: 1.2em;
  }

  a {
    color: var(--orange--1);
    
    @media (hover: hover) {
      &:hover {
        text-decoration-thickness: 1px;
        text-decoration-line: underline;
      }
    }
  }
}
