.c-content {
  padding: var(--gutter-in);
  background: var(--white);

  &--home {
    h1 {
      color: var(--blue--2);
    }

    h1,
    h2 {
      font-weight: var(--font-weight-heading);
      letter-spacing: var(--letter-spacing-heading);
      font-size: var(--step-3);
      line-height: var(--line-height-heading);
    }

    h3,
    > p:first-of-type {
      font-weight: var(--font-weight-lede);
      font-size: var(--step-2);
      line-height: var(--line-height-lede);
    }

    p:not(:first-of-type) + p {
      --flow: 1.2em;
    }
  }

  &--prose {
    max-width: calc(var(--site-width-content) + var(--gutter-in) * 2);
    margin-inline: auto;
    padding-block: var(--space-72-100);
    font-weight: var(--font-weight-light);

    h1,
    h2,
    h3 {
      color: var(--blue--2);
    }

    h1 {
      font: var(--font-weight-super) var(--step-6)/var(--line-height-super) var(--font-super), var(--font-sans), var(--font-fallback-stack);

      & + * {
        margin-top: var(--space-12-20);
      }
    }

    h2 {
      font: var(--font-weight-super) var(--step-5)/var(--line-height-super) var(--font-super), var(--font-sans), var(--font-fallback-stack);
    }

    h3,
    h4,
    h5 {
      font-weight: var(--font-weight-extra);
    }

    h3 {
      font-size: var(--step-4);
    }

    h4 {
      font-size: var(--step-2);
    }

    h5 {
      font-size: var(--step-1);
    }
    
    h6 {
      font-size: var(--step-0);
    }

    > p:first-of-type {
      color: var(--blue--2);
      font-weight: var(--font-weight-lede);
      font-size: var(--step-2);
      line-height: var(--line-height-body);
    }

    p:not(:first-of-type) + p {
      --flow: 1.2em;
    }

    small {
      font-size: var(--step--1);
      color: var(--grey);
    }

    blockquote {
      border-left: 4px solid var(--pink);
      padding-inline-start: 36px;

      p {
        font-size: var(--type-28-36);
        font-weight: var(--font-weight-body);
        color: var(--blue--2);
        max-width: 634px;
      }

      cite {
        display: block;
        color: var(--black);
        font-size: var(--step-0);
        font-style: normal;
        margin-top: 0.5rem;

        &:before {
          content: '—';
        }
      }
    }

    ol li,
    ul li {
      list-style: var(--list-style, disc);
      margin-left: 1em;
      padding-left: 0.25rem;

      &::marker {
        color: var(--pink);
      }

      & + li {
        margin-top: 0.5em;
      }
    }

    ol li {
      --list-style: decimal;

      &::marker {
        font-weight: var(--font-weight-regular);
        color: var(--blue--2);
      }
    }

  }
}
