<aside class="c-tickets">
  <p>
    <strong>Tickets will be {{ event.tickets.cost }}</strong> and will be available very soon.
  </p>

  <p>This price includes all your food and drink plus optional travel to and from Brighton or Haywards Heath station on the Optimismobile™️.</p>

  <p>Sign up here to be the first to know when tickets are available.</p>

  <a href="{{ event.tickets.cta.link }}" class="c-button">{{ event.tickets.cta.label }}</a>
</aside>
