<aside class="c-tickets">
  <div class="u-flow--10">
    <p>
      <strong>Tickets will be {{ params.event.tickets.cost }}</strong> and go on sale at 10am on Friday 5th July.
    </p>

    <p>This price includes delicious food and drink throughout the day plus optional travel to and from Brighton or Haywards Heath station on the Optimismobile™️.</p>
  </div>

  <div class="u-flow--20">
    <p><strong>Register your interest on our Tito page and be the first to know when tickets become available.</strong></p>

    {{ c('button', params.event.tickets.cta)}}
  </div>
</aside>
