.c-tickets {
  background: var(--orange-5);
  padding: var(--gutter-in);
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-30-45);
  font-size: var(--step--1);

  & > :first-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 45%;

    p:first-of-type {
      font-size: var(--step-0);
    }
  }

  & > :last-child {
    flex-basis: clamp(251px, 35vw, 260px); 
    flex-grow: 1;

    p:first-of-type {
      line-height: var(--line-height-lede);
    }
  }

}
