.c-sponsor {
  text-align: center;
  padding-bottom: var(--space-30-10);

  img {
    vertical-align: middle;
    max-height: 2em;
    display: var(--sponsor-display, block);
    margin: var(--sponsor-margin, 0.5em auto);
  }

  a {
    font-weight: var(--font-weight-lede);
    text-decoration: underline;
    text-decoration-color: var(--orange);
  }

  --link-idle: var(--black);

  @media (min-width: 40em) {
    --sponsor-display: inline;
    --sponsor-margin: 0 1em;
  }
}
