.c-twi {
  $twi-space: 0.5em;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: inherit;

  .c-icon,
  .c-icon-wrapper {
    margin-left: $twi-space;
    font-size: 1.25em;
    flex-shrink: 0;
  }

  &--left .c-icon,
  &--left .c-icon-wrapper {
    margin-right: $twi-space;
    margin-left: 0;
    order: -1;
  }
}

@media (max-width: 30em) {
  @container (max-width: 19em) {
    .c-twi--food {
      // display: flex;
      // width: 100%;

      span {
        width: 182px;
        // flex-grow: 1;
        // max-width: max-content;
      }
    }
  }
}
