/* Reset */

body {
  margin: 0;
}

blockquote,
pre,
ol,
ul,
figure {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  border: none;
}

article,
aside,
figure,
footer,
header,
aside,
main,
nav {
  display: block;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

iframe {
  border: none;
}

/* Typography */

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--blue);
  background: linear-gradient(to bottom, var(--blue--1) 0%, var(--blue) 560px, var(--blue) 100%);
  color: var(--black);
  font: 400 var(--step-0)/1.4 var(--font-sans) -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
figcaption {
  margin: 0;
  padding: 0;
}
