<nav class="c-nav">
  <ul class="c-nav__list">
    {% for item in params.navigation %}
      <li class="c-nav-link{{ ' c-nav-link--secondary' if item.secondary }}{{ ' c-nav-link--active' if params.currentUrl == item.url }}">
        <a href="{{ item.url }}">{{ item.label }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
