<figure class="c-sky">
  <picture>
    <source srcset="/static/img/clouds/cloud1.avif" type="image/avif">
    <img src="/static/img/clouds/cloud1.png" width="131" height="84" alt="" class="c-cloud c-cloud--1" />
  </picture>
  <picture>
    <source srcset="/static/img/clouds/cloud2.avif" type="image/avif">
    <img src="/static/img/clouds/cloud2.png" width="268" height="109" alt="" class="c-cloud c-cloud--2" />
  </picture>
  <picture>
    <source srcset="/static/img/clouds/cloud3.avif" type="image/avif">
    <img src="/static/img/clouds/cloud3.png" width="343" height="189" alt="" class="c-cloud c-cloud--3" />
  </picture>
  <picture>
    <source srcset="/static/img/clouds/cloud4.avif" type="image/avif">
    <img src="/static/img/clouds/cloud4.png" width="147" height="67" alt="" class="c-cloud c-cloud--4" />
  </picture>
</figure>