<section data-block="collage" class="o-wrap o-wrap--full">
  <div class="c-content u-flow--content o-links c-content--prose c-content--prose-home">
      {{ c('collage', {
        content: params.content,
        withLede: params.data.withLede,
        images: params.data.images
      }) }}
  </div>
</section>
