@use 'node_modules/utopia-core-scss/src/utopia' as utopia;

.o-wrap {
  margin-inline: auto;
  max-width: var(--wrap-width, var(--site-width));
  inline-size: 100%;

  &--home {
    display: grid;
    grid-template-columns: 1fr;

    
    @media (min-width: 38rem) {
      grid-gap: 2.5rem;
    }

    @media (min-width: 70em) {
      & > * {
        border-radius: 4px;
      }
    }
  }

  &--content {
    --wrap-width: calc(var(--site-width-content) + var(--gutter-in) * 2);
  }

  &--inline {
    padding-inline: var(--gutter-in);
  }

  &--full {
    background: var(--white);
    border-radius: 4px;
  }

  &--full-width {
    --wrap-width: calc(var(--site-width) + var(--gutter-in) * 2);
  }
}

.o-page-wrapper {
  overflow-x: hidden;
}
