.c-button {
  --button-border-width: 2px;
  --button-border-color: var(--orange);
  --button-background: var(--orange);
  --button-color: var(--white);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: calc(1rem - var(--button-border-width, 0px)) calc(1.5rem - var(--button-border-width, 0px));
  border: var(--button-border-width) solid var(--button-border-color);
  background-color: var(--button-background);
  color: var(--button-color);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  font-size: var(--step-1);

  &:hover {
    --button-background: var(--white);
    --button-color: var(--orange);
  }
}
