.c-button {
  --button-border-width: 2px;
  --button-border-color: var(--orange);
  --button-background: var(--orange);
  --button-color: var(--white);
  --button-y-padding: 1rem;
  --button-x-padding: 1.5rem;
  --button-font-size: var(--step-1);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--button-y-padding) - var(--button-border-width, 0px)) calc(var(--button-x-padding) - var(--button-border-width, 0px));
  border: var(--button-border-width) solid var(--button-border-color);
  background-color: var(--button-background);
  color: var(--button-color);
  text-decoration: none;
  text-align: center;
  border-radius: 2em;
  font-weight: var(--font-weight-lede);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  font-size: var(--button-font-size);

  &:hover {
    --button-background: var(--white);
    --button-color: var(--orange);
  }
}

.c-button-icon {
  background-color: var(--button-background, transparent);
  border: 1px solid var(--button-border, var(--orange));
  color: var(--button-color, var(--orange));
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &:hover {
    --button-background: var(--orange);
    --button-color: var(--white);
  }
}
